* { 
	margin: 0 auto;
	background-color: black;
}
body {
  background-color: black;
  text-align: center;
  font-family: "Verdana", sans-serif;
  color: white;
}

h1 {
	font-family: Verdana;
	font-weight: Normal;
	font-size: 50px;
	color: white;
	text-align: center;
}
a {
	color: Aquamarine;
	font-size: 16px;
	text-align: center;
}
#new {
	background-color: black;
	text-align: center;
}
h2 {
	font-family: verdana;
	font-weight: 300;
	font-size: 42px;
}
p {
	font-family: verdana;
	font-size: 21px;
	color: Gray;
}
footer {
	text-align: right;
	color: Gray;
}
#phone {
	background-color: black;
}